GOOGLE_API_KEY="<GOOGLE_API_KEY>"
GOOGLE_CLOUD_PROJECT="<GOOGLE_CLOUD_PROJECT>"
GOOGLE_APPLICATION_CREDENTIALS="<GOOGLE_APPLICATION_CREDENTIALS>"
GOOGLE_CLOUD_REGION="<GOOGLE_CLOUD_REGION>"

FIREBASE_PROJECT_ID="<GOOGLE_CLOUD_PROJECT>"
FIREBASE_STORAGE_BUCKET="<GOOGLE_CLOUD_PROJECT>.appspot.com"

GCS_BUCKET_NAME="<GCS_BUCKET_NAME>"

PUBSUB_TOPIC_FEEDBACK="<GOOGLE_CLOUD_PROJECT>-feedback"
PUBSUB_TOPIC_SESSIONS="<GOOGLE_CLOUD_PROJECT>-sessions"

ENVIRONMENT="development"
FRONTEND_URL="http://localhost:3000"
BACKEND_URL="http://localhost:8000"
